<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>树莓面试签到</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .table {
            text-align: center;
            font-size: 12px;
        }
        td {
            vertical-align: inherit !important;
        }
        .header {
            background-color: #00B38C;
            color: #fff;
        }
        .table-responsive {
            border:0px;
            padding-bottom: 20px;
        }
        .footer {
            position: fixed;
            bottom: 0px;
            width: 100%;
            line-height: 30px;
            text-align: center;
            background-color: #eee;
            font-size: 12px;
            color: #A2B4BA;
            z-index: 999;
        }
        .alert-box,.alert-box-1{
            width: 100%;
            height: 100%;
            position:fixed;
            top: 0px;
            left: 0px;
            z-index: 11;
            display: none;
        }
        .alert-wrap{
            /*display: none;*/
            border-radius: 20px;
            border: 2px solid #00B38C;
            box-shadow: 0 0 10px 1px #00B38C;
            padding: 20px;
            padding-top: 0;
            transform:scale(0);
            width:90%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: #00d1a6;
        }
        .alert-wrap p{
            margin-top: 20px;
            color: #5bc0de;
        }
        .score-hd{
            overflow: hidden;
            margin-bottom: 15px;
        }
        .score-hd input{
            height: 40px;
            line-height: 40px;
            width: 60%;
            float: right;
            font-size: 24px;
            outline: none;
            border: none;
            text-align: center;
            border-radius: 5px;
        }
        .score-hd span{
            line-height: 40px;
            float: left;
            margin-top: 0px;
            font-size: 30px;
            color: #0080b3;
            text-align: center;
            font-weight: bolder;
        }
        .btnqiandao,.btnpinglun{
            position: relative;
            display: inline-block;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }
        .btnqiandao:hover{
            cursor: pointer;
        }
        .btnpinglun img,.btnqiandao img{
            position: absolute;
            left: 13px;
            top: 4px;
            width: 20px;
            z-index: 100;
        }
        .activeno {
            background-color: #eee;
            border-color: #eee;
        }
        p {
            margin: 0px;
        }
        .btn-score{
            border-radius: 10px;
            margin: 0 auto;
            height:40px;
            background-color: #fff266;
            text-align: center;
            line-height: 40px;
            font-size: 25px;
            border:1px solid #ffd85f;
            width: 100%;
        }
        .comment span,.beizhu .beizhufont{
            float: left;
            font-size: 30px;
            color: #0080b3;
            font-weight: bolder;
        }
        .comment textarea{
            width: 100%;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 24px;
            height: 200px;
        }
        .comment{
            margin-bottom: 15px;
        }
        .score-close{
            position: relative;
            top: 0;
            right: -10px;
            overflow: hidden;
            color: #ddd;
            font-size: 22px;
        }
        .score-close span{
            float: right;
        }
        .beizhu,.beizhuipt{
            overflow: hidden;
        }
        .beizhuipt input{
            float: left;
            width: 100%;
            text-align: left;
        }
        .resbox{
            height:100px;
        }
        .beizhu .beizhucontent{
            font-size: 24px;
            color: #fff;
            margin-top: 0;
            text-align: left;
        }
        .beizhu .beizhufont{
            margin-top: 0;
            text-align: left;
            float: none;
        }
    </style>
</head>
<body>
<div class="table-responsive">
    <table class="table">
        <tr class="header">
            <td width="20%">编号</td>
            <td width="25%">姓名</td>
            <td width="25%">状态</td>
            <td width="10%">评分</td>
            <td width="20%">结果</td>
        </tr>
        <% for(var i=0; i<alldata.length;i++) {
            if(alldata[i].status==-1) {
                 %><tr dataid = <%= i%>>
                    <td><%= i%></td>
                    <td><%= alldata[i].name%></td>
                    <td class="text">未签到</td>
                    <td>
                        <div  class="btnqiandao activeno">
                            打分
                        </div>
                    </td>
                    <td>
                        <div class="btnpinglun activeno">
                            查看结果
                        </div>
                    </td>
                </tr><%
            }else {
                %>
                <tr class='active'>
                    <td><%= i%></td>
                    <td><%= alldata[i].name%></td>
                    <td class="text">已签到</td>
                    <td>
                        <p   class="btnqiandao">打分</p>
                    </td>
                    <td>
                        <div class="btnpinglun">
                            查看结果
                        </div>
                    </td>
                </tr>
                <%
            }
        }%>
    </table>
</div>
<div class="alert-box">
    <div class="alert-wrap alert_ok">
           <div class="score-close"><span id="btn-close">X</span></div>
           <div class="score-hd">
               <span>分数:</span>
               <input type="text" id="score" maxlength="3">
           </div>
            <div class="comment">
                <span>评语:</span>
                <textarea id="text" cols="30" rows="10"></textarea>
            </div>
            <div class="btn-score">
                提交
            </div>
    </div>
</div>
<div class="alert-box-1" style="display: none">
    <div class="alert-wrap alert_ok">
        <div class="score-close"><span id="btn-close">X</span></div>
        <div class="beizhu">
        <p class="beizhufont">备注:</p>
        <p class="beizhucontent">很跳的</p>
        </div>
        <div class="comment">
        <span>结果:</span>
        <div class="resbox">

        </div>
        </div>
    </div>
</div>


<div class="footer">
    2016-11-19@版权所有-树莓fe
</div>
<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.js"></script>
<script>
    $(function(){
        var currentId = null;
        $(".table").on("click",".btnqiandao",function(){

            if($(this).parent().siblings('.text').html() == '未签到'){
               return;
            }
            currentId = $(this).parent().parent().find('td:eq(0)').html();
            $(".alert-box").slideDown(400);
        })

        //提交面试结果
        $('.btn-score').click(function () {
            var _score = $('#score').val(),
                _text = $('#text').val(),
                _id = currentId;
            $.ajax({
                        url: '/admin/send',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'id': _id,
                            'score': _score,
                            'text': _text
                        }
                    })
                    .done(function(data) {
                        if(data.satus==200) {
                                $(".alert-box").slideUp(400);
                        }
                    })

        })



        //关闭评分框
        $('.alert-box').on('click','#btn-close',function () {
            $(".alert-box").slideUp(400);
        })

        //打开结果框
        $('.table').on('click','.btnpinglun',function () {
            if($(this).parent().siblings('.text').html() == '未签到'){
                return;
            }
            $(".alert-box-1").slideDown(400);
        })

        //关闭查看结果
        $('.alert-box-1').on('click','#btn-close',function () {
            console.log(213)
            $(".alert-box-1").slideUp(400);
        })
    })
</script>
</body>
</html>